<div>
  <h1>Stupid Coaching (ask!)</h1>


  <form action="/answer" method="get">
    <input type="text"
    name="question"
    placeholder="Ask your Coach anything:"
    value="<%= params[:ask] %>">

    <input type="submit" value="Ask!">
  </form>
</div>
